<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- Appender_stdout -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss,SSS} %-5p (%c) %m%n" />
		</layout>
	</appender>

	<!-- Appender_daily -->
	<appender name="daily" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Encoding" value="UTF-8" />
		<param name="File" value="\\log\\searchdatabase.log" />
		<param name="Append" value="true"/>
		<param name="datePattern" value="'.'yyyy-MM-dd"/>
		<param name="threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss,SSS} %-5p [%t] (%C) %m%n" />
		</layout>
	</appender>

	<!-- Log Level -->
	<root>
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
		<appender-ref ref="daily"/>
	</root>
</log4j:configuration>